@font-face {
  font-weight: 400;
  font-family: "Exo20-Thin";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Exo20-Thin.woff2") format("woff2"), url("../fonts/Exo20-Thin.woff") format("woff");
}

@font-face {
  font-weight: 400;
  font-family: "TrebuchetMS";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/TrebuchetMS.woff2") format("woff2"), url("../fonts/TrebuchetMS.woff") format("woff");
}

@font-face {
  font-weight: 900;
  font-family: "TrebuchetMS";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/TrebuchetMS-Bold.woff2") format("woff2"), url("../fonts/TrebuchetMS-Bold.woff") format("woff");
}
