$mobile-width: 767px;
$tablet-width: 1023px;
$exo20: "Exo20-Thin", "Arial", sans-serif;
$trebuchet: "TrebuchetMS", "Arial", sans-serif;
$white-color: #ffffff;
$black-color: #000000;
$satana-color: #666666;
$default-color: #1698d9;
$default-hover-color: #2ea8e6;
$select-color: #d91667;
$select-hover-color: #e62e7a;
$disabled-color: #b3b3b3;
